*{
    font-family: 'Poppins Inter';
}
header{
    background-color: black;
    color: white;
    margin: 20px;
}

.menu li{
    display:inline-block;
    font-size: 15x;
    font-weight: bold;
    padding: 3px 15px;
    margin: 20px;
    text-align: center;
    
    }
    
    .menu li a{
        color:#ED661F;
        
    }


    button{
        float: right;
        background-color: #ED661F;
        color: white;
        font-weight: bolder
        border: 2px solid transparent;
        text-decoration: none;
        padding: 10px 25px;
    }

    img {
        max-width: 50%;
        max-height: auto;
        vertical-align: middle;
        border: 0;
        box-sizing: border-box;
    }

    .content{
        flex-direction: row;
        background-image: url(assets/images/backgroundimage.png);
        background-size: cover;
        background-position: center;
       margin-bottom: 50px;
    }

    #fruits img{
        flood-opacity: inherit;
    }


    #numbers{
        flex-direction: row;
        background-color: white;
        color: black;
        font-weight: bold;
        border: 2px solid transparent;
        padding: 15px 50px;
        margin-top: 5px;
        margin-bottom: auto;
        margin-left: 30%;
        margin-right: 10%;

    }
    .content button{
        float: left;
        margin-bottom: auto;
        margin-top: 5px;
        
    }

.banner{
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: 5%;
    font-family: 'Poppins, Inter';

}  

#why span{ 
    text-decoration-color: #ED661F;
    text-decoration: underline;
    margin-bottom: 20px;

}

.banner img{
float: right;
margin-right: 10%;
}

.banner2{
    border: 2px solid transparent;
    padding: 15px 50px;
    margin-top: 350px;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}

.banner3{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
     margin-bottom: 10px;
}

.banner3 img{
    max-width: 40%;
    max-height: auto;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}

.banner4{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
     margin-bottom: 10px;
}

.banner4 img{
    max-width: 40%;
    max-height: auto;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}

#all{
    float: right;
    text-decoration: none;
    border-bottom: 250px;
    border-width: 10px;
    border-color: grey;
    
}

.banner5{
    display: flex;
    flex-direction: row; 
    margin-top: 150px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 0 10px;

}

.banner5 img{
    max-width: 20%;
    max-height: auto;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
    

}

#star i{
    color: #ED661F;
    
}

#star1 i{
    color: #ED661F;
}

#star2 i{
    color: #ED661F;
}

#read{
    float: right;
    text-decoration: none;
    border-bottom: 250px;
}

.banner6{
    border: 2px solid transparent;
    padding: 15px 50px;
    margin-top: 150px;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: black;
    color: white;
    
}

#download img{
    max-width: 20%;
    max-height: auto;
    vertical-align: middle;

}

.get{
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    vertical-align: middle;
}
