header{
    display: flex;
    justify-content: space-between;
    align-items:center
}
button{
font-family: "Popping", "Inter";
font-size: large;
}

.banner{
    flex-direction: row;
}


#why span{ 
    text-decoration-color: #ED661F;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 20px;
}

.banner4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}